<script setup lang="ts">
import p5 from 'p5'
import { ref, reactive, onMounted, watch } from "vue";

import s_test from "../p5/test.ts";
import s_kinetype_example from "../p5/kinetype-example.ts";
import s_flowfield from "../p5/flowfield.ts";

import { useDebounce } from "../composables/debounce.ts";
const { debounce } = useDebounce();

const sketch_test_data = reactive({ circle_size: 100, speed: 0.1, canvasWidth: 200, canvasHeight: 200 });
const sketch_flowfield_data = reactive({ circle_size: 100, noiseScale: 10, canvasWidth: 800, canvasHeight: 300 });
const sketch_kinetype_data = reactive({ canvasWidth: 800, canvasHeight: 200,  });

const sketches = {
  test: { el: "sketch-test", fn: s_test, data: sketch_test_data, instance: null },
  kinetype_example: {
    el: "sketch-kinetype-example",
    fn: s_kinetype_example,
    data: { canvasWidth: 600, canvasHeight: 200 },
    instance: null,
  },
  flowfield: {
    el: "sketch-flowfield",
    fn: s_flowfield,
    data: sketch_flowfield_data,
    instance: null,
    fn_instance: null,
  },
};

async function bind_p5_sketches() {
  for (const [sketch_name, sketch] of Object.entries(sketches)) {
    try {
      const canvas = document.getElementById(sketch.el);
      if (!canvas) {
        throw new Error(`Cannot bind P5 sketch ${JSON.stringify(sketch)} with specified HTMLelement.`);
      }
      sketch.fn_instance = sketch.fn(sketch.data);
      sketch.instance = await new p5(sketch.fn_instance, canvas);
    } catch (e) {
      console.error(`Couldn't load sketch ${sketch.el}: ` + e);
    }
  }
}

const debouncedWatch = debounce((newValue, oldValue) => {
  console.log(sketches["flowfield"].instance);
  sketches["flowfield"].instance.regenerate();
}, 80);

onMounted(() => {
  bind_p5_sketches();

  watch(sketch_flowfield_data, async () => {
    debouncedWatch();
  });
});
</script>

<template>
  <img alt="Vue logo" src="./assets/logo.png" width="20" />
  <n-slider v-model:value="sketch_test_data.speed" :step="0.001" :max="1" :min="0.0001" />
  {{ sketch_test_data.speed }}

  <div
    v-for="sketch of sketches"
    :id="sketch.el"
    :style="{
      width: sketch.data.canvasWidth + 'px',
      height: sketch.data.canvasHeight + 'px',
      'min-height': sketch.data.canvasHeight + 'px',
    }"
    style="margin: auto; background-color: none; border: solid 1px black"
  ></div>

  <n-slider v-model:value="sketch_flowfield_data.noiseScale" :step="0.1" :max="100" :min="1" />
</template>
