<template>
  <n-layout>
    <n-layout-header bordered style="padding-left: 1.6rem">
      <n-space justify="space-between">
        <h1 class="logo">Kinetype</h1>
        <!-- <n-menu mode="horizontal" :options="menuOptions" v-model:value="selectedView" /> -->
        <div style="height: 100%; display: flex; align-items: center; margin-right: 1rem; color:darkgrey">Marko Řeháček, 2022</div>
      </n-space>
    </n-layout-header>

    <template v-if="selectedView === 'default-example'">
      <KinetypeView></KinetypeView>
    </template>
    <template v-else-if="selectedView === 'shader-test'">
      <SingleSketchTestView />
    </template>
  </n-layout>
</template>

<script setup lang="ts">
import SingleSketchTestView from "./views/SingleSketchTestView.vue";
import KinetypeView from "./views/KinetypeView.vue";
import { ref } from "vue";

const selectedView = ref("default-example");

const menuOptions = [
  {
    label: "Example",
    key: "default-example",
  },
  {
    label: "Shader test",
    key: "shader-test",
  },
];
</script>

<style>
html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1.logo {
  max-height: 42px;
  font-size: 1.25rem;
}
</style>
